@import-normalize;
/* bring in normalize.css styles */



body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* * */
  background-color: #31323e;
}


/* input:-webkit-autofill {
  background-color: transparent !important;
} */
/* input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(199, 204, 220, 0.5);
  ;

} */